.left 
{

margin-top: 50px;
margin-left: 590px;
   width:20%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   font-size: 15px;
   font-weight: bold;
   color: black;
}
.prix{
    margin-top:5px;
display : block;
font-weight: bold;
font-size: 15px;
color: #007bff;
}
